---
---

<!doctype html>
<html lang="{{- lang | default: 'en' -}}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="author" content="Kevin Samuel <kevinnlsamuel.com>">
		<title>
			{{-title | 'Kevin Samuel'-}}
		</title>
	</head>
	<body>
		{{- content -}}
	</body>
</html>
