@media (prefers-color-scheme: light) {
  :root {
    --fg-color: hsl(0,0%,0%);
    --bg-color: hsl(0,0%,100%);
    --theme-light: hsl(250,100%,50%);
    --theme-dark: hsl(250,100%,50%);
    --theme-accent: hsl(250,100%,50%);
  }
}
:root {
  --fg-color: hsl(0,0%,100%);
  --bg-color: hsl(0,0%,10%);
  --theme-light: hsl(250,100%,50%);
  --theme-dark: hsl(250,100%,50%);
  --theme-accent: hsl(250,100%,50%);
}

* {
  box-sizing: border-box;
  margin: 0px;
}

:root {
  color-scheme: dark light;
  font-family: sans-serif;
  color: var(--fg-color);
  accent-color: var(--theme-accent);
}

html {
  scroll-behaviour: smooth;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  min-height: 100dvh;
  padding: 1vh 1vw;
  display: grid;
  place-items: center;
}

main {
  width: clamp(50%, 450px, 90%);
  height: 100%;
}

header {
  padding-bottom: 0.5em;
  border-bottom: 1px solid hotpink;
  font-size: 1.3em;
  padding-top: 2em;
}

#name,
#summary {
  padding-bottom: 0.3em;
}

.experience {
  margin: 1.5em 0px;
}
.employer-info a {
  text-decoration: none;
}

h3.period {
  color: hsla(0, 0%, 100%, .75);
}

/* vim: set expandtab tabstop=2 shiftwidth=2: */
