* {
  box-sizing: border-box;
  margin: 0px;
}

:root {
  color-scheme: dark light;
  font-family: sans-serif;
}

html {
  scroll-behaviour: smooth;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  padding: 1vh 1vw;
  display: grid;
  place-items: center;
}

main {
  width: clamp(50%, 450px, 90%);
  height: 100%;
}

header {
  padding-bottom: 0.5em;
  border-bottom: 1px solid hotpink;
  font-size: 1.3em;
  padding-top: 2em;
}

#name,
#summary {
  padding-bottom: 0.3em;
}

.experience {
  margin: 1.5em 0px;
}
.employer-info a {
  text-decoration: none;
}

h3.period {
  color: hsla(0, 0%, 100%, .75);
}

/* vim: set expandtab tabstop=2 shiftwidth=2: */
