:root {
  --fg-color: hsl(0,0%,100%);
  --bg-color: hsl(0,0%,10%);
  --theme-light: 200 100% 50%;
  --theme-dark: 200 100% 50%;
  --theme-accent: 200 100% 50%;
}

@media (prefers-color-scheme: light) {
  :root {
    --fg-color: hsl(0,0%,0%);
    --bg-color: hsl(0,0%,100%);
    --theme-light: 200 100% 50%;
    --theme-dark: 200 100% 50%;
    --theme-accent: 200 100% 50%;
  }
}

* {
  box-sizing: border-box;
  margin: 0px;
}

:root {
  color-scheme: dark light;
  font-family: sans-serif;
  color: var(--fg-color);
  --theme-dark-color: hsl(var(--theme-dark));
  --theme-light-color: hsl(var(--theme-light));
  --theme-accent-color: hsl(var(--theme-accent));
  accent-color: var(--theme-accent-color);
}

html {
  scroll-behaviour: smooth;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  min-height: 100dvh;
  padding: 1vh 1vw;
  display: grid;
  place-items: center;
}

main {
  width: clamp(50%, 450px, 90%);
  height: 100%;
}

header {
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--theme-accent-color);
  font-size: 1.3em;
  padding-top: 2em;
}

#name,
#summary {
  padding-bottom: 0.3em;
}

.experience {
  margin: 1.5em 0px;
}
.employer-info a {
  text-decoration: none;
}

h3.period {
  color: var(--fg-color);
}

/* vim: set expandtab tabstop=2 shiftwidth=2: */
