{%-capture error-%}
<div style="font-family:mono;text-align:center;padding:20px 5px;font-weight:900;background-color:red;">
    dataerror: expected value not found in this data structure
</div>
{%-endcapture-%}

{%-for hash in site.data.work_experience-%}
{%-assign exp = hash[1] -%}

{%-if exp.title and exp.title != empty-%}
<div class="work-experience">
<h2>{{exp.title}}</h2>

    {%-if exp.employer.first-%}
	{%-if exp.employer.uri and exp.employer.name-%}
	<h3 class="employer-info">
	    <a href="{{-exp.employer.uri-}}">{{-exp.employer.name-}}</a>
	</h3>
	{%-else-%}
	    {{-error-}}
	{%-endif-%}
    {%-else-%}
	{%-if exp.employer-%}
	    <h3 class="employer-info">{{-exp.employer-}}</h3>
	{%-endif-%}
    {%-endif-%}

    {%-if exp.period and exp.period != empty-%}
    <h3 class="period">{{-exp.period-}}</h3>
    {%-endif-%}

    {%-if exp.description and exp.description != empty-%}
    <p class="description">{{-exp.description-}}</p>
    {%-endif-%}

</div>
{%-endif-%}

{%-endfor-%}
