---
---
{%-capture layout_styles-%}
{%-include layout.css-%}
{%-endcapture-%}
<!DOCTYPE html>
<html lang="en">
    <head>
	<title>{{-site.title | default: "[SET VALUE IN _config.yml | John Doe's Resume"-}}</title>
	{%if site.description-%}
	<meta name="description" content="{{-site.description-}}">
	{%endif-%}
	<link rel="icon" href="{{ 'asset/svg/icon-mask.svg' | relative_url }}">
	<meta charset="utf-8">
	<meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0">
	<style>{{-layout_styles | normalize_whitespace-}}</style>
    </head>
    <body>
	<main>
	    {{ content }}
	</main>
    </body>
</html>
